{% extends 'base.html' %}
{% load core_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}

    {% if request.is_preview %}
        <div class="alert alert-error">Sorry, preview is not supported :(</div>
    {% endif %}

    <div style="margin-top: 40px; color: grey">Raw Data from {{ page|class_name }}: </div>
    <h1>{{ page.title }}</h1>

    {% if page.get_ancestors.count > 1 %}
        <h2>Ancestors</h2>
        <ol>
            {% for a in page.get_ancestors %}
                {% if a.is_root == False %}
                    <li>
                        <a href="{{ a.url }}">
                            {{ a.specific|class_name }}: {{ a.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}

    {% if page.content %}
        <h2>Content</h2>
        {% for c in page.content %}
            <h3>{{ c.block_type }}</h3>
            {{ c }}
        {% endfor %}
    {% else %}
        <h2>Attributes</h2>
        <pre>{{ page|json_dumps }}</pre>
    {% endif %}

    {% if page.get_descendants.count %}
        <h2>Descendants</h2>
        <ul>
            {% for a in page.get_children %}
                <li>
                    <a href="{{ a.url }}">
                        {{ a.specific|class_name }}: {{ a.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock %}